*{
    margin:0;
    padding:0;
    font-family:"Poppins", sans-serif;
    box-sizing:border-box;
}

.container{
    width:100%;
    min-height:100vh;
    background:linear-gradient(115deg, #7aa5fa, #dc81f3);
    padding:10px;
}

.todo-app{
    width:100%;
    max-width:540px;
    background:url(img/bg.jpeg);
    background-size:cover;
    margin:100px auto 20px;
    padding:40px 30px 70px;
    border-radius:10px;
    border:2px solid rgb(58, 58, 58);
}

.todo-app h2{
color:black;
font-weight:bold;
display:flex;
justify-content:center;
margin-bottom:20px;
}

.row{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:rgb(179, 174, 174);
    border-radius:30px;
    padding-left:20px;
    margin-bottom:25px;
}

input{
    flex:1;
    border:none;
    outline:none;
    background:transparent;
    padding:10px;
    color:rgb(9, 6, 6);
    font-size:20px;
}


button{
    border:none;
    outline:none;
    padding: 16px 50px;
    background:#f36060;
    color:white;
    border:1px solid black;
    font-size:16px;
    cursor:pointer;
    border-radius:40px;
}

ul li{
    list-style:none;
    font-size:17px;
    padding:12px 8px 12px 50px;
    user-select:none;
    cursor:pointer;
    position:relative;
}

ul li::before{
    content:"";
    position:absolute;
    height:38px;
    width:38px;
    border-radius:50%;
    background-image:url(img/unchecked.png);
    background-size:cover;
    background-position:center;
    top:5px;
    left:8px;
}

ul li.checked{
    color:#676363;
    text-decoration:line-through;
}

ul li.checked::before{
    height:28px;
    width:28px;
    background-image: url(img/checked3.png);
}

ul li span{
    position:absolute;
    right:0;
    top:5px;
    width:40px;
    height:40px;
    font-size:22px;
    color:black;
    line-height:40px;
    text-align:center;
    border-radius:50%;
}

ul li span:hover{
    background:#edeef0;
}